@font-face {
  font-family: "josefin";
  src: url("../../../Fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}

.product-info-route {
  padding: 2rem;
  background-color: #f9f1e7;
}

.product-info-route {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.product-info-route-icon-tag {
  width: 2rem;
  height: 2rem;
}

.product-info-route-home,
.product-info-route-shop,
.product-info-route-product-name {
  font-size: 2rem;
  font-family: "josefin", Courier, monospace;
  color: #9f9f9f;
  margin-right: 2rem;
  margin-left: 2rem;
}

.product-info-route-product-name {
  color: black;
}

@media screen and (max-width: 550px) {
  .product-info-route-home,
  .product-info-route-shop,
  .product-info-route-product-name {
    font-size: 1.2rem;
  }
  .product-info-route-icon-tag{
    width: 1.4rem;
    height: 1.4rem;
  }
}
@media screen and (max-width: 460px) {
  .product-info-route-home,
  .product-info-route-shop,
  .product-info-route-product-name {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .product-info-route-icon-tag{
    width: 1rem;
    height: 1rem;
  }
}
