@font-face {
  font-family: "josefin";
  src: url("../../../Fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.share-styles-title {
  font-size: 4rem;
  text-align: center;
  color: #b88e2f;
  font-family: "josefin", Courier, monospace;
  margin-bottom: 2rem;
}
.share-styles__boxes {
  display: flex;
  justify-content: space-around;
}

.share-styles__boxes-left {
  width: 460px;
  /* background-color: red; */
  padding: 1rem;
}

.share-styles__boxes-left-top-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  opacity: 0.7;
}

.share-styles__boxes-left-bottom-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.share-styles__boxes-middle {
  width: 460px;
  /* background-color: aqua; */
  padding: 1rem;
}

.share-styles__boxes-middle-top-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  opacity: 0.7;
}
.share-styles__boxes-middle-bottom-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.share-styles__boxes-right {
  width: 460px;
  /* background-color: yellow; */
  padding: 1rem;
}

.share-styles__boxes-right-top-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  opacity: 0.7;
}

.share-styles__boxes-right-bottom-image {
  width: 100%;
  transition: all 140ms ease-in;
  border-radius: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

img:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .share-styles__boxes-left-top-image,
  .share-styles__boxes-middle-top-image,
  .share-styles__boxes-middle-bottom-image,
  .share-styles__boxes-right-top-image,
  .share-styles__boxes-right-bottom-image {
    margin-top: 2rem;
  }
  .share-styles__boxes {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {

  .share-styles__boxes {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  img:hover {
    transform: scale(1.01);
  }
  .share-styles-title{
    font-size: 2rem;
  }
}
