@font-face {
  font-family: "roboto-bold";
  src: url("../../../../Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../../../../Fonts/Roboto/Roboto-Medium.ttf");
}

.navbar__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  transition: all 140ms ease-in;
  padding: 1rem;
}
.navbar__logo:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.navbar__logo-icon-shop {
  width: 4rem;
  height: 4rem;
  color: #2ec1ac;
}
.navbar__logo-text {
  font-size: 2rem;
  color: black;
  font-family: "roboto-bold", Courier, monospace;
  border-radius: 1rem;
}

.navbar__menu__list {
  display: flex;
  justify-content: space-around;
}
.navbar__menu__list__item {
  margin-right: 2rem;
  margin-left: 2rem;
  list-style-type: none;
  transition: all 140ms ease-in;
  padding: 1rem;
  border-radius: 1rem;
}
.navbar__menu__list__item-link,
.navbar__logo-text-link {
  text-decoration: none;
  font-family: "josefin", Courier, monospace;
  color: black;
}
.navbar__logo-text-link{
  font-weight: bold;
  color: #2ec1ac;
}
.navbar__menu__list__item-link {
  padding: 0.8rem 1rem;
  transition: all 140ms ease-in;
  border-radius: 1rem;
}

.navbar__btns {
  display: flex;
  justify-content: space-around;
}
.navbar__btns span {
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar__btns__user-link-icon,
.navbar__btns__search-icon,
.navbar__btns__basket-link {
  width: 2rem;
  height: 2rem;
  color: black;
  cursor: pointer;
}



.navbar__menu__list__item-link:hover {
  background-color: #2ec1ac;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.navbar__menu__list__item-link.active:hover {
  text-decoration: none;
  font-family: "roboto-medium", Courier, monospace;
}



.active {
  background-color: #2ec1ac;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  color: #ffff;
}

/*! Search Modal */

.search-modal {
  position: absolute;
  top: 10rem;
  margin: 0 auto;
  padding: 1rem;
  width: 40rem;
  z-index: 1000;

  border-radius: 1rem;
  background-color: #2ec1ac;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: none;
}

.search-modal__wrapper {
  display: flex;
  flex-direction: column;
}

.search-modal__input {
  width: 22rem;
  height: 2rem;
  padding: 1rem;
  margin: 0 auto;
  /* padding:1rem 8rem; */
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
}

.search-modal__input::placeholder {
  text-align: center;
  font-family: "roboto-medium", Courier, monospace;
  font-size: 1.2rem;
}

.search-modal-btn {
  width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.search-modal__title {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "roboto-medium", Courier, monospace;
  color: #ffff;
  border-right: 8px solid #ffff;
  border-left: 8px solid #ffff;
}

.search-modal-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-family: "roboto-medium", Courier, monospace;
  font-size: 1.2rem;
  background-color: #2ec1ac;
  cursor: pointer;
  color: #ffff;
  transition: all 140ms ease-in;
}

.search-modal-btn:hover {
  box-shadow: rgb(6, 19, 30) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.modal__close-btn svg {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(215, 9, 9);
  cursor: pointer;
  transition: all 140ms ease-in;
}
.modal__close-btn svg:hover {
  box-shadow: rgb(254, 20, 20) 0px 0px 0px 2px,
    rgb(245, 38, 38) 0px 4px 6px -1px, rgba(255, 6, 6, 0.88) 0px 1px 0px inset;
}

/*! Mobile Menu */
.navbar__mobile-menu__btn svg {
  width: 4rem;
  height: 4rem;
}
.navbar__mobile-menu__btn {
  display: none;
  cursor: pointer;
}

.navbar {
  position: relative;
}
.mobile__menu {
  height: 100rem;
  width: 20rem;
  /* border-radius: 1rem; */
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(87, 147, 121);
  padding: 1rem;
  display: none;
  z-index: 1000;
}

.mobile__menu__list__item {
  list-style-type: none;
  width: auto;
  background-color: #2ec1ac;

  text-align: center;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.mobile__menu__list__item-link {
  text-decoration: none;
  font-family: "roboto-medium", Courier, monospace;
  color: #ffff;

  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

/*! Basket */

.basket {
  position: absolute;
  z-index: 1000;
  top: 6rem;
  right: 0;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #2ec1ac;
  padding: 1rem;
  overflow-y: scroll;
  margin: 0 auto;
  margin-right: 0;
  display: none;
}
.basket::-webkit-scrollbar {
  background-color: #ffff;
  border-radius: 1rem;
  height: 1rem;
  width: 20px;
}
.basket::-webkit-scrollbar-thumb {
  background-color: #2b6c62;
  border-radius: 1rem;
}

.basket__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket__product__left-image {
  width: 5rem;
  height: 6rem;
}

.basket__title {
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: "roboto-medium", Courier, monospace;
  color: #ffff;
}

.basket__product {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 20rem;
  height: 6rem;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.basket__product__right{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.basket__product__right span {
  width: 2.8rem;
}
.basket__product__right-name {
  margin-right: 2rem;
  font-family: "roboto-medium", Courier, monospace;
  margin-left: 1rem;
}
.basket__product__right-quantity{
  font-size: 1.2rem;
  font-family: "roboto-bold", Courier, monospace;
  background-color: #2ec1ac;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ffff;

}
.basket__product__right-price {
  margin-right: 2rem;
  font-family: "roboto-medium", Courier, monospace;
  margin-left: 2rem;
}
.basket__btn{
  display: block;
  padding: 1rem;
  margin: 0 auto;
  outline: none;
  border: none;
  margin-top: 1rem;
  width: 10rem;
  border-radius: 1rem;
  font-family: "roboto-medium", Courier, monospace;
  background-color: #2b6c62;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  cursor: pointer;
  transition: all 140ms ease-in;

}
.basket__btn:hover{
  transform: scale(1.04);
}


/*! Responsive */
@media screen and (max-width: 1108px) {
  .navbar__menu {
    display: none;
  }
  .navbar__wrapper {
    justify-content: space-between;
  }
  .navbar__btns {
    display: none;
  }
  .navbar__mobile-menu__btn {
    display: block;
    margin-right: 1rem;
  }
}

.open {
  display: block;
}
