@font-face {
  font-family: "roboto-bold";
  src: url("../../../../Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../../../../Fonts/Roboto/Roboto-Medium.ttf");
}

.navbar__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  transition: all 140ms ease-in;
  padding: 1rem;
}
.navbar__logo:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.navbar__logo-icon-shop {
  width: 4rem;
  height: 4rem;
  color: #2ec1ac;
}
.navbar__logo-text {
  font-size: 2rem;
  color: black;
  font-family: "roboto-bold", Courier, monospace;
  border-radius: 1rem;
}

.navbar__menu__list {
  display: flex;
  justify-content: space-around;
}
.navbar__menu__list__item {
  margin-right: 2rem;
  margin-left: 2rem;
  list-style-type: none;
  transition: all 140ms ease-in;
  padding: 1rem;
  border-radius: 1rem;
}
.navbar__menu__list__item-link,
.navbar__logo-text-link {
  text-decoration: none;
  font-family: "roboto-medium", Courier, monospace;
  color: black;
}

.navbar__btns {
  display: flex;
  justify-content: space-around;
}
.navbar__btns span {
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar__btns__user-link-icon,
.navbar__btns__search-icon,
.navbar__btns__basket-link {
  width: 2rem;
  height: 2rem;
  color: black;
  cursor: pointer;
}

.navbar__menu__list__item:hover {
  background-color: #2ec1ac;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.navbar__menu__list__item:hover .navbar__menu__list__item-link {
  color: #ffff;
}

/*! Mobile Menu */
.navbar__mobile-menu__btn svg {
  width: 4rem;
  height: 4rem;
}
.navbar__mobile-menu__btn {
  display: none;
  cursor: pointer;
}

.navbar {
  position: relative;
}
.mobile__menu {
  height: 100rem;
  width: 20rem;
  /* border-radius: 1rem; */
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(87, 147, 121);
  padding: 1rem;
  display: none;
}
.open{
  display: block;
}


.mobile__menu__list__item {
  list-style-type: none;
  width: auto;
  background-color: #2ec1ac;

  text-align: center;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.mobile__menu__list__item-link {
  text-decoration: none;
  font-family: "roboto-medium", Courier, monospace;
  color: #ffff;

  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

/*! Responsive */
@media screen and (max-width: 1108px) {
  .navbar__menu {
    display: none;
  }
  .navbar__wrapper {
    justify-content: space-between;
  }
  .navbar__btns {
    display: none;
  }
  .navbar__mobile-menu__btn {
    display: block;
    margin-right: 1rem;
  }
}
