@font-face {
  font-family: "josefin";
  src: url("../../../Fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.products__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products-btn {
  display: block;
  padding: 1rem 8rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  outline: none;
  font-family: "josefin", Courier, monospace;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: #b88e2f;
  color: #ffff;
  border: none;
  transition: all 140ms ease-in;
cursor: pointer;
}
.products-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.loading-spinner{
    margin: 0 auto;
}




@font-face {
  font-family: "josefin";
  src: url("../../../Fonts/Josefin/JosefinSans-VariableFont_wght.ttf");
}

.shop-option {
  padding-top: 2rem;
  background-color: #f9f1e7;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-family: "josefin", Courier, monospace;
  font-size: 1.4rem;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.shop-option__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.shop-option__category {
  display: flex;
  align-items: center;
}
.shop-option__filter-icon {
  margin-right: 1rem;
}
.shop-option__category-select {
  padding: 1rem 4rem;
  border: none;
  outline: none;
  background-color: #b88e2f;
  border-radius: 1rem;
  font-family: "josefin", Courier, monospace;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.shop-option__category-icon-tag {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.shop-option__square-icon,
.shop-option__list-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.shop-option__right-show-input {
  width: 4rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #b88e2f;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 820px) {
  .shop-option__right-show {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 660px) {
  .shop-option-result-number {
    margin-top: 2rem;
  }
  .shop-option__category-select{
    padding: 1rem 2rem;
  }
}
